<!-- wp:template-part {"slug":"header","theme":"interior-design-firm","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"interior-design-firm/banner"} /-->

<!-- wp:pattern {"slug":"interior-design-firm/design-section"} /-->

<!-- wp:pattern {"slug":"interior-design-firm/testimonial"} /-->

<!-- wp:pattern {"slug":"interior-design-firm/about-section"} /-->

<!-- wp:pattern {"slug":"interior-design-firm/blog-section"} /-->

<!-- wp:pattern {"slug":"interior-design-firm/faq-section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"interior-design-firm","tagName":"footer","className":"custom-footer-class"} /-->