<!-- wp:template-part {"slug":"header","theme":"vacation-booking","tagName":"header"} /-->

<!-- wp:pattern {"slug":"vacation-booking/banner-block"} /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}}} -->

<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;">

	<!-- wp:pattern {"slug":"vacation-booking/tour"} /-->

</main>

<!-- /wp:group -->

<!-- wp:pattern {"slug":"vacation-booking/about-us"} /-->

<!-- wp:pattern {"slug":"vacation-booking/destination"} /-->

<!-- wp:pattern {"slug":"vacation-booking/blog"} /-->

<!-- wp:pattern {"slug":"vacation-booking/tiblog"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->