<!-- wp:template-part {"slug":"main-header","theme":"outdoor-camping","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group">
  
  <!-- wp:group {"tagName":"main","className":"outdoor-camping-slider alignfull","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"backgroundColor":"secaccent","layout":{"type":"constrained","contentSize":"100%"}} -->
  <main class="wp-block-group outdoor-camping-slider alignfull has-secaccent-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">

  
  <!-- wp:pattern {"slug":"outdoor-camping/main-banner"} /-->

  </main>
  <!-- /wp:group -->


  <!-- wp:pattern {"slug":"outdoor-camping/camping-section"} /-->

  <!-- wp:pattern {"slug":"outdoor-camping/testimonial"} /-->

  <!-- wp:pattern {"slug":"outdoor-camping/projects-section"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"outdoor-camping","tagName":"footer"} /-->