<!-- wp:template-part {"slug":"main-header","theme":"outdoor-camping","tagName":"header"} /-->

<!-- wp:pattern {"slug":"outdoor-camping/post-header-with-background"} /-->

<!-- wp:group {"tagName":"main","className":"main-page"} -->
<main class="wp-block-group main-page"><!-- wp:post-content {"className":"page-content","fontFamily":"inter","layout":{"inherit":true,"contentSize":"80%","justifyContent":"center"}} /-->
  
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"outdoor-camping","tagName":"footer"} /-->