/*RTL CSS*/

.header-box-upper{
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 1;
}
.banner-image-wrap {
  position: relative;
}
.customer-sec {
  display: inline-flex !important;
  background: transparent linear-gradient(-107deg, #FFFEEF 0%, #FCD6BE 100%) 100% 0% no-repeat padding-box;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  gap: 10px;
  position: absolute;
  top: 15%;
  right: 15%;
}
.colntact-section {
  position: absolute;
  bottom: -28px;
  right: 0px;
  width: 78%;
  box-shadow: 0px 10px 18px #00000029;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  left: 0px;
}
.banner-section{
  position: relative;
}
.colntact-section select.wpcf7-form-control.wpcf7-select,
.colntact-section input.wpcf7-form-control.wpcf7-submit.has-spinner ,
.colntact-section input.wpcf7-form-control.wpcf7-text,
.colntact-section textarea.wpcf7-form-control.wpcf7-textarea,
.colntact-section input.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-number,
.colntact-section span.wpcf7-list-item.first.last,
.colntact-section span.wpcf7-form-control.wpcf7-acceptance.optional,
.colntact-section input.wpcf7-form-control.wpcf7-file{
  width: calc(calc(100% / 4) - calc(60px / 4)) !important;
  float: right;
  margin-left: 20px;
}
.colntact-section select.wpcf7-form-control.wpcf7-select,
.colntact-section input.wpcf7-form-control.wpcf7-text,
.colntact-section textarea.wpcf7-form-control.wpcf7-textarea,
.colntact-section input.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-number ,
.colntact-section span.wpcf7-list-item.first.last,
.colntact-section span.wpcf7-form-control.wpcf7-acceptance.optional,
.colntact-section input.wpcf7-form-control.wpcf7-file{
  border: unset;
  padding: 14px 11px;
  border-radius: 10px;
  background-color: #F2F2F2;
}
.colntact-section input.wpcf7-form-control.wpcf7-submit.has-spinner {
  border: unset;
  padding: 14px 11px;
  color: #ffffff;
  margin-left: 0px;
  border-radius: 10px;
  background-color: #A57469;
}
.wp-site-blocks{
  padding: 0 !important;
}
.colntact-section p{
  margin: 0px;
}
.wpcf7-spinner {
  position: absolute;
  left: 0px;
}
.service-inner-box .place-image,.service-inner-box .place-image img{
  width: 100%;
  object-fit: cover;
}
p span.dashicons{
  margin-left: 10px;
  color: #EB662B;
}
.sale-button {
  position: absolute;
  right: 0px;
  top: 1%;
  padding: 4px 10px !important;
}
.menu-box nav ul li a:hover{
  color: #EB662B !important;
}
.header-box-middle,.menu-box{
  position: relative;
}
.menu-box a.wp-block-navigation-item__content:hover::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  background-color: #EB662B;
  width: 100%;
  height: 4px;
  transform: translateY(-18px);
  border-radius: 30px;
}
.menu-box a.wp-block-navigation-item__content:hover::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #EB662B;
  width: 100%;
  height: 4px;
  transform: translateY(18px);
  border-radius: 30px;
}
footer.wp-block-template-part .photolancer-footer-list {
  gap: 15px;
}
.social-icon {
  gap: 0px;
}
.head-menu-box{
  border-bottom: 2px solid #ffffff;
}
.home .head-menu-box{
  border-bottom: 0;
}
.social-icon li{
  background-color:transparent !important;
}
.social-icon li a svg{
  height: 20px !important;
  width: 20px !important;
}
.wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button,
.woocommerce div.product form.cart button.single_add_to_cart_button, .woocommerce div.product form.cart button[name=add-to-cart],
.woocommerce .cart .button, .woocommerce .cart input.button,
#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.wp-block-woocommerce-checkout-actions-block .wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button,
.wc-block-components-totals-coupon__form .wc-block-components-totals-coupon__button{
  color: #fff !important;
}
.wlfmc-counter-wrapper{
  width: auto;
}
.category-image {
  position: relative;
}
.cart-btn {
  position: absolute;
  bottom: 10%;
  right: 0px;
  left: 0px;
  margin: 0 auto;
}
.wp-block-woocommerce-customer-account a span{
  font-family: Figtree;
  font-weight: 500;
}
.wp-block-woocommerce-customer-account a{
  display: flex;
  flex-direction: row-reverse;
}
.cat-heading {
  position: relative;
  display: inline-block;
  right: 0px;
}
.cat-heading:after{
  content: "";
  position: absolute;
  top: 20px;
  left: -40px;
  width: 30px;
  height: 7px;
  background: #ED9D18;
}
.banner-text4 {
  padding: 20px;
  left: 0;
  right: 0px;
  width: 20%;
  top: 9% !important;
}
.banner-area{
  gap:0px;
}
.blue-bg,.banner-area-text-box{
  position: relative;
}
.blue-bg img,.banner-area-text-box img {
  width: 100%;
  height: 100%;
  vertical-align: middle !important;
}
.left-product-box {
  border-radius: 0px 18px 18px 0px;
}
.temp-box h2 span {
  color: #EA1044;
}
.button-right{
  gap:10px;
}
.temp-box h2 span.celcious {
  color: #2A2A2C;
  vertical-align: super;
  font-size: 13px;
}
.head-menu-box ul li a:hover {
  background: #0E2646;
  padding: 10px;
}
.banner-cover .wp-block-cover__inner-container{
  padding:0px;
}
.head-menu-box ul li a {
  padding: 10px;
}
.wp-block-image img{
  vertical-align: unset;
}
.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container li a {
  color: #ffffff;
}
.wp-site-blocks{
  padding: 0 !important;
}
footer.wp-block-template-part {
  margin-top: 0;
}
.comment-respond.wp-block-post-comments-form.wp-block-post-comments-form input[type=submit]{
  color: #fff;
}
.sidebar-box .wp-block-search__button svg{
  fill: #fff;
}
blockquote.wp-block-quote.is-layout-flow.wp-block-quote-is-layout-flow {
    padding: 0px;
    margin: 10px 0px;
  }
@media screen and (min-width: 320px) and (max-width: 599px) {
  span.wp-block-navigation-item__label {
    color: #000000;
  }
  
}
@media screen and (min-width: 320px) and (max-width: 781px) {
  .slider-banner{
    text-align: center;
  }
  .colntact-section{
    position: relative;
    width: 100%;
  }
  .banner-content h2, .banner-content p, .banner-content .wp-block-buttons{
    text-align: center;
  }
  .tour-box{
    max-width: 100% !important;
  }
  .meta-post p{
    text-align: center !important;
  }
  .information-column{
    justify-content: center;
  }
  .banner-image-wrap{
    text-align: center;
  }
  .information-column p,.service-inner-box h4,.service-inner-box p{
    text-align: center !important;
  }
  .colntact-section select.wpcf7-form-control.wpcf7-select, .colntact-section input.wpcf7-form-control.wpcf7-submit.has-spinner, .colntact-section input.wpcf7-form-control.wpcf7-text, .colntact-section textarea.wpcf7-form-control.wpcf7-textarea, .colntact-section input.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-number, .colntact-section span.wpcf7-list-item.first.last, .colntact-section span.wpcf7-form-control.wpcf7-acceptance.optional, .colntact-section input.wpcf7-form-control.wpcf7-file {
    width: 100% !important;
    float: right;
    margin-left: 20px;
    margin-bottom: 19px;
  }
  .banner-content h2{
    font-size: 30px !important;
  }
  .customer-sec {
    position: relative;
    top: 15%;
    right: 0%;
  }
  .header-logo h1 {
    text-align: center;
  }
  .header-button .wp-block-buttons{
    justify-content: center;
  }
  .header-box-upper{
    position: relative;
  }
  .header-box-middle{
    max-width: 100% !important;
  }
  .banner-content .wp-block-buttons{
    justify-content: center !important;
  }
  .banner-content{
    position: relative;
    top: 0px;
    right: 0px;
    padding: 20px 0px;
    transform: none;
  }
}
 
@media screen and (min-width: 782px) and (max-width: 1200px) {
  .tour-box{
    max-width: 100% !important;
    gap:10px;
  }
  .banner-heading {
    font-size: 25px !important;
  }
  .meta-post,.team-box{
    display: block !important;
    text-align: center;
  }
  .information-column{
    justify-content: center !important;
  }
  .meta-post p{
    text-align: center !important;
    margin-bottom: 10px !important;
  }
  .service-inner-box h4 {
    font-size: 15px !important;
  }
  .banner-content{
    position: relative;
    transform: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 800px) {
  .admin-bar .wp-block-navigation__responsive-container-close {
    color: #000000;
    top:15px;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container{
    justify-content: center !important;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {

  .meta-post,.team-box{
    gap:0px;
  }
  .meta-post p,.information-column p {
    font-size: 13px !important;
  }
}

/*back to top*/
.wp-block-button.scroll-to-top .wp-block-button__link.wp-element-button {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 25px;
  bottom: 25px;
  display: inline-block;
  z-index: 1;
  text-indent: -5000px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.089);
  display: none;
  padding: 0;
  margin-top: 0;
}

.wp-block-button.scroll-to-top .wp-block-button__link.wp-element-button:after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #fff;
  -webkit-mask-image: url(assets/images/up-arrow.svg);
  mask-image: url(assets/images/up-arrow.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
}